.center{
	  margin-left: 40%;
}

.office{
	color:#0082ca;
}

.leftList{
	width:40%; 
	float:left;
	margin-left: 20%;
}
.rightList{
	width:40%;
	float:right;
}
.title{
	margin:0;
	font-weight: 700;
    text-transform: uppercase;
}