<ion-header>
  <ion-toolbar>
    <ion-buttons slot ="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
    <ion-title>
     My Appointments
    </ion-title>
    <ion-buttons slot = "end">
      <ion-button (click)="authService.logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h1>Hi there, this is the Appointments Page!</h1>
	<ion-searchbar animated = "true"  show-cancel-button debounce="500"
                 (ionInput) = "getItems($event)"
                 [(ngModel)] = "queryText">
	</ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of items | async" [routerLink]="['/locations', item.id]" routerLinkActive="active">
      {{ item.name }}
 <!--     <a [routerLink]="['/location-detail', location.id]"></a> -->    
<!--       <a [routerLink]="['/locations', location.id]" routerLinkActive="active" style="text-decoration: none;"> {{ location.name }}</a>
 -->      
    </ion-item> 
 <!--       <li class="text" *ngFor="let item of items | async">
          {{ item.name | json }}
      </li> -->
<!--     <ion-item *ngFor="let item of items | async" [routerLink]="['/locations', item.id]" routerLinkActive="active">
      {{ item.name }}   
    </ion-item> 
        <li class="text" >
          {{ item.name }}
      </li> -->
  </ion-list>

<!--   <div *ngIf="location">
    <h2>{{location.name | uppercase}} Details</h2>
    <div><span>id: </span>{{location.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="location.name" placeholder="name"/>
      </label>
    </div>
</div> -->

<!--   <ul>
    <li *ngFor="let location of locations" (click)="locationSelected(location)">
      <a [routerLink]="['/location-detail', location.id]">
        {{location.id}}{{ location.name }}
      </a>
    </li>
  </ul> -->




<!--  	<ion-list>
	    <ion-item *ngFor="let location of locations"
	       [class.selected] = "location === selectedLocation"
	       (click) = "onSelect(location)"
         [href]="'/location-detail'">
	       {{location.name}}
	    </ion-item>
  	</ion-list> -->


<!-- <div *ngIf="selectedLocation">
  <h2>{{selectedLocation.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedLocation.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedLocation.name" placeholder="name">
    </label>
  </div>
</div>   -->
</ion-content>

<!-- <ion-searchbar [(ngModel)]="searchInput"
  (ionInput) = "getItems($event)">
</ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let location of locations"
       [class.selected] = "location === selectedLocation"
       (click) = "onSelect(location)">
       {{location.name}}
    </ion-item>
  </ion-list>
 -->