<ion-header>
  <ion-toolbar>
    <ion-buttons slot ="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
    <ion-title>
      MyEyeChart
    </ion-title>
    <ion-buttons slot = "end">
      <ion-button (click)="authService.logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card>
      <ion-card-header>
       		<ion-card-title>FirstName LastName</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-card-content>
          Email: exampleEmail@gmail.com
        </ion-card-content>
        <ion-card-content>
          Phone Number: (123-456-7890)
        </ion-card-content>
        <ion-card-content>
          Date of Birth: 01/01/1900
        </ion-card-content>
       </ion-list>
  </ion-card>
  <ion-button [routerLink]="['/orders']"  shape="round" color="primary" fill="outline">My Orders</ion-button>
  <ion-button [routerLink]="['/appointments']" shape="round" color="primary" fill="outline">My Appointments</ion-button>
  <ion-button [routerLink]="['/prescriptions']"  shape="round" color="primary" fill="outline">My Prescriptions</ion-button>

</ion-content>
