<ion-header>
  <ion-toolbar>
    <ion-buttons slot ="start">
    </ion-buttons>  
    <ion-title>
      Create a new My EyeLab Account
    </ion-title>
    <ion-buttons slot="start">
    	<ion-back-button></ion-back-button>
  	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div>
			<label>Email Address</label>
			<input type="email" [(ngModel)]="user.email" name="email" placeholder="username or email" required>
		</div>
		<div>
			<label>Password</label>
			<input type="password" [(ngModel)]="user.password" name="email" placeholder="password" required>
		</div>
			<ion-button (click) = "register(user)">Register</ion-button>
</ion-content>